<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="fs-1">test page <%= @page_id %></div>
      <a href="#" id="link1">i'm a link, click me!</a>

      <ul>
        <% (1..3).each do |i| %>
          <li>
            <%= link_to "page #{i}", test_turbolinks_url(i) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

